@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-2">
                <img src="images/logo_4.png" alt="Restaurant Logo" class="logo-img" />
                <h5 class="mb-0">28 Treasures</h5>
            </div>
            <h5><span class="today-text">Today: @DateTime.Now.ToString("MMMM dd, yyyy")</span></h5>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
